{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'urlshorded/css/style.css' %}">
	<title>Short Link</title>
</head>
<body>
<div class="main_page">
	<div class="conteiner">
		<div class="head">
			<div class="userbar" style="display:flex;">
				{% if request.user.is_authenticated %}

					<p style=" margin-right: 20px; font-size: 20px; font-family: ubuntu, sans-serif;">
						{{user.username}}
					</p>
					<a href="{% url 'logout'%}">
						<input type="submit" name="logout" value="Вийти" class="log_in">
					</a>
				{% else %}
					<a href="{% url 'reg'%}">
						<input type="submit" name="sign_up" value="Створити акаунт" class="create_akk">
					</a>
					<a href="{% url 'login_user' %}">
						<input type="submit" name="log_in" value="Увійти" class="log_in">
					</a>
				{% endif%}
			</div>
		</div>
		<div class="enter_link">
			<div class="main_title">
				<p>Введіть посилання для скорочення</p>
			</div>
			<div class="form_conteiner">
				<form class="fblock" action="{% url 'home' %}" method="post" >
					{% csrf_token %}
					{{ form }}
					<input type="submit" name="shorten_link" value="Скоротити" class="shorten">
				</form>
			</div>
		</div>
		<div class="links_conteiner">
			{% for item in list_items %}
				<div class="item_link">
				<div class="block_top">
					<div class="url_main">
						<p>{{item.main_links}}</p>
					</div>
					<div class="date_info">
			 			<p>{{ item.time_visit|date:"Y-m-d  H:i:s" }}</p>
			 		</div>
				</div>

				<div class="block_bottom">
					<div class="sh_link">
						<p>127.0.0.1:8000/redirect/{{item.short_links}}</p>
					</div>
					<div class="stat_and_dell">
						<div class="value_clicks">
							{% if item.cliks > 0 %}
								<p>{{ item.cliks }} переходи </p>
							{% else %}
								<p>0 переходів </p>
							{% endif %}

						</div>
						<div class="del_but">
							<a href="{% url 'del' id_link=item.pk %}">
								<input type="submit" name="del_link" class="dell" value="" >
							</a>

						</div>
					</div>
				</div>
			</div>
			{% endfor%}

		</div>
	</div>
</div>
</body>
</html>











