{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'urlshorded/css/style.css' %}">
	<title>Short Link</title>
</head>
<body>
<div class="main_page">
	<div class="conteiner">
		<div class="head">
			<div class="user">
				<input type="submit" name="sign_up" value="Створити акаунт" class="create_akk">
				<input type="submit" name="log_in" value="Увійти" class="log_in">
			</div>
		</div>
		<div class="enter_link">
			<div class="main_title">
				<p>Введіть посилання для скорочення</p>
			</div>
			<div class="form_conteiner">
				<input type="text" name="url" placeholder="www.google.com" class="form_for_ulr">
				<input type="submit" name="shorten_link" value="Скоротити" class="shorten">
			</div>
		</div>
		<div class="links_conteiner">
			<div class="item_link">
				<div class="block_top">
					<div class="url_main">
						<p>https://quizlet.com/login?redir=https://quizlet.com/latest</p>
					</div>
					<div class="date_info">
			 			<p>2022.10.05:18.50</p>
			 		</div>
				</div>

				<div class="block_bottom">
					<div class="sh_link">
						<p>127.0.0.1:8000/redirect/arte</p>
					</div>
					<div class="stat_and_dell">
						<div class="value_clicks">
							<p>2 переходів</p>
						</div>
						<div class="del_but">
							<input type="submit" name="del_link" class="dell" value="">
						</div>
					</div>
				</div>
			</div>
			<div class="item_link">
				<div class="block_top">
					<div class="url_main">
						<p>https://quizlet.com/login?redir=https://quizlet.com/latest</p>
					</div>
					<div class="date_info">
			 			<p>2022.10.05:18.50</p>
			 		</div>
				</div>

				<div class="block_bottom">
					<div class="sh_link">
						<p>127.0.0.1:8000/redirect/arte</p>
					</div>
					<div class="stat_and_dell">
						<div class="value_clicks">
							<p>4 переходів</p>
						</div>
						<div class="del_but">
							<input type="submit" name="del_link" class="dell" value="">
						</div>
					</div>
				</div>
			</div>
			<div class="item_link">
				<div class="block_top">
					<div class="url_main">
						<p>https://quizlet.com/login?redir=https://quizlet.com/latest</p>
					</div>
					<div class="date_info">
			 			<p>2022.10.05:18.50</p>
			 		</div>
				</div>

				<div class="block_bottom">
					<div class="sh_link">
						<p>127.0.0.1:8000/redirect/arte</p>
					</div>
					<div class="stat_and_dell">
						<div class="value_clicks">
							<p>1 переходів</p>
						</div>
						<div class="del_but">
							<input type="submit" name="del_link" class="dell" value="">
						</div>
					</div>
				</div>
			</div>
			<div class="item_link">
				<div class="block_top">
					<div class="url_main">
						<p>https://quizlet.com/login?redir=https://quizlet.com/latest</p>
					</div>
					<div class="date_info">
			 			<p>2022.10.05:18.50</p>
			 		</div>
				</div>

				<div class="block_bottom">
					<div class="sh_link">
						<p>127.0.0.1:8000/redirect/arte</p>
					</div>
					<div class="stat_and_dell">
						<div class="value_clicks">
							<p>10 переходів</p>
						</div>
						<div class="del_but">
							<input type="submit" name="del_link" class="dell" value="">
						</div>
					</div>
				</div>
			</div>
			<div class="item_link">
				<div class="block_top">
					<div class="url_main">
						<p>https://quizlet.com/login?redir=https://quizlet.com/latest</p>
					</div>
					<div class="date_info">
			 			<p>2022.10.05:18.50</p>
			 		</div>
				</div>

				<div class="block_bottom">
					<div class="sh_link">
						<p>127.0.0.1:8000/redirect/arte</p>
					</div>
					<div class="stat_and_dell">
						<div class="value_clicks">
							<p>8 переходів</p>
						</div>
						<div class="del_but">
							<input type="submit" name="del_link" class="dell" value="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>











